<h1>Pirate info: </h1>
<div class="pirate">
    <h2>Name: <%= @pirate.name %>
    <h2>Height: <%= @pirate.height %>
    <h2>Weight: <%= @pirate.weight %>
</div>

<h1>Ships: </h1>
<div class="ship">
    <% @ships.each do |ship|%>
            <p>Name: <%= ship.name %>
            <p>Type: <%= ship.type %>
            <p>Booty: <%= ship.booty %>
        <br>
    <% end %>
</div>